*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:linear-gradient(135deg,#0f172a,#1e3a8a,#312e81);
color:white;
overflow-x:hidden;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 80px;
}

.logo{
font-size:35px;
font-weight:bold;
color:#38bdf8;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
transition:.3s;
}

nav a:hover{
color:#38bdf8;
}

.hero{
display:flex;
justify-content:space-around;
align-items:center;
height:80vh;
}

.left{
width:45%;
animation:left 1.2s;
}

.left h1{
font-size:60px;
margin-bottom:20px;
}

.left p{
font-size:20px;
line-height:35px;
margin-bottom:30px;
}

button{
padding:15px 35px;
border:none;
border-radius:30px;
background:#38bdf8;
color:white;
font-size:18px;
cursor:pointer;
transition:.4s;
}

button:hover{
transform:scale(1.1);
background:#2563eb;
}

.circle{
width:350px;
height:350px;
border-radius:50%;
background:linear-gradient(#38bdf8,#7c3aed);
box-shadow:0 0 60px cyan;
animation:rotate 10s linear infinite;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
padding:70px;
flex-wrap:wrap;
}

.card{
width:300px;
padding:30px;
border-radius:20px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(15px);
transition:.4s;
}

.card:hover{
transform:translateY(-15px);
box-shadow:0 0 25px cyan;
}

.card h2{
margin-bottom:20px;
}

footer{
text-align:center;
padding:30px;
margin-top:50px;
background:#111827;
}

@keyframes rotate{

0%{
transform:rotate(0deg);
}

100%{
transform:rotate(360deg);
}

}

@keyframes left{

from{
opacity:0;
transform:translateX(-100px);
}

to{
opacity:1;
transform:translateX(0);
}

}

@media(max-width:900px){

header{
padding:20px;
flex-direction:column;
}

.hero{
flex-direction:column;
height:auto;
padding:50px 20px;
}

.left{
width:100%;
text-align:center;
}

.right{
margin-top:g40px;
}

.left h1{
font-size:42px;
}

.circle{
width:250px;
height:250px;
}

}